* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  background-color: blue;
  height: 100vh;
  width: 100%;
}
.main-header {
  background-color: red;
  padding: 30px;
}

.child-div {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: top;
  justify-content: center;
}

.main-header > ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.main-header > ul > li {
  outline: none;
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  cursor: pointer;
}

.headerlink-title {
  color: black;
  text-decoration: none;
  padding: 0 5px;
}

.postrow {
  text-align: "left";
}

.form-box {
  min-width: 100%;
  height: 100vh;
  border: 1px solid blue;
  margin: 0vw;
  padding: 5vw;
  position: relative;
}

.form-box input,
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

.form-box textarea {
  height: 15vh;
}

.form-box label {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0 0 2vh 0;
}

.form-box h5 {
  font-size: 35px;
  text-align: center;
  color: #f55a00;
  margin: 0 0 0.5vh 0;
}

.submitBtn {
  display: inline-block;
  width: 30%;
  height: 2rem;
  color: black;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
